<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<h1>匿名掲示板</h1>
	<div>
		<form action="./" method="get">
			<input type="date" name="startDate" th:value="${startDate}"/> ~ <input type="date" name="endDate" th:value="${endDate}" /> <input type="submit" value="送信"/>
		</form>
	</div>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td><a th:href="@{ '/view/' + ${content.id} }"
				th:text="${content.content}"></a>
			<td><a th:href="@{ '/edit/' + ${content.id} }">
					<button type="button">編集</button>
			</a></td>
			<td>
				<form th:action="@{ '/delete/' + ${content.id} }" th:method="delete">
					<input type="submit" value="削除" />
				</form>
			</td>
		</tr>
	</table>
</body>
</html>